<%- include('../partials/loggedInHeader.ejs'); -%>

<div class="pageTitle"><h1>Change Password</h1></div>
<div class="backDash">
    <a href=/dashboard/myProfile/<%= user.id %>">< back to My Profile</a>
    <div class="buttons">

        <button id="saveBtnVisible" type="submit" form="changePasswordForm">
            <div>
                <img src="/img/save.svg" alt="">
            </div>
            Save</button>
        <button id="cancelBtnVisible">
            <div>
                <img src="/img/cancel.svg" alt="">
            </div>
            Cancel</button>
    </div>
</div>

<div class="changePasswordContainer">
    <form id="changePasswordForm" action="/dashboard/changePassword/<%= user.id %>">
        <label for="password">New Password: </label>
        <input id= "password" type="password" name="password" required />
        <div class="password error"></div>
        <label for="repeatPassword">Repeat New Password: </label>
        <input id= "repeatPassword" type="password" name="repeatPassword" required />
        <div class="repeatPassword error"></div>
    </form>
</div>
<%- include('../partials/footer.ejs'); -%>

<script>
    const form = document.querySelector('form');
    const passwordError = document.querySelector('.password.error');
    const repeatPasswordError = document.querySelector('.repeatPassword.error');
    const cancelBtn = document.getElementById('cancelBtnVisible')

    cancelBtn.addEventListener('click', (e) => {
        e.preventDefault();
        location.assign('/dashboard/myProfile/<%= user.id %>')
    })

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        passwordError.textContent = '';
        repeatPasswordError.textContent = '';

        const password = form.password.value;
        const repeatPassword = form.repeatPassword.value;

        if (password !== repeatPassword) {
            repeatPasswordError.textContent = "Passwords don't match";
        } else {
            try {
                const res = await fetch(`/dashboard/changePassword/<%= user.id %>`, {
                    method: 'PUT',
                    body: JSON.stringify({ password }),
                    headers: {'Content-Type': 'application/json'}
                });
                const data = await res.json();
                console.log(data);
                if (data.errors) {
                    passwordError.textContent = data.errors.password;
                } else {
                    location.assign(`/dashboard/myProfile/<%= user.id %>`);
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    });
</script>